[bumpversion]
current_version = 0.6.8
commit = True
tag = True
tag_name = cua-driver-rs-v{new_version}
message = Bump cua-driver-rs to v{new_version}

[bumpversion:file:Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
